body{
    background-color: blueviolet;
    text-align: center;
    margin-top: 40px;
    color: aqua;
}
button{
    padding: 10px;
    border-radius: 10PX;
    -webkit-border-radius: 10PX;
    -moz-border-radius: 10PX;
    -ms-border-radius: 10PX;
    -o-border-radius: 10PX;
    background-color: brown;
    color: aquamarine;
    font-size: 1.2em;
}
button:hover{
    background-color: blueviolet;
}
.all:hover{
    background-color: brown;
}
.all{
    border: 2px solid #00ffdd;
    margin-left: 190px;
    margin-right: 190px;
    background-color: rgb(177, 75, 168);
}